pre {
  background: #d3d3d3;
  counter-reset: linenumber;
  padding: 10px;
}

code {
  font-family: 'Ubuntu Mono', monospace;
}

pre.lineNumbers {
  padding: 10px 0;
}
pre.lineNumbers > code:not(:only-child)::before {
  background: gray;
  content: ' ' counter(linenumber, decimal-leading-zero) ' ';
  counter-increment: linenumber;
  font-family: 'Ubuntu Mono', monospace;
  margin-right: 5px;
  padding: 3px 0;
}
pre.lineNumbers > code:not(:only-child):first-child::before {
  padding-top: 10px;
}
pre.lineNumbers > code:not(:only-child):last-child::before {
  padding-bottom: 10px;
}

::ng-deep {
  .cNew {
    color: #559bd4;
  }
  .cVariable {
    color: #40749f;
  }
  .cType {
    color: #47cab1;
  }
}
