<h1>Bibliographische Beschreibung</h1>
<p>
  Wunderlich, Mike: Technischer Vergleich von Cloud Optimized GeoTIFFs mit bewährten OGC-Standards wie dem WMS, WMTS oder TMS im Bereich WebGIS
</p>
<p>
  Hochschule Anhalt, Fachbereich Architektur, Facility Management und Geoinformation, Institut für Geoinformation und Vermessung, Masterarbeit, Februar 2022
</p>
<p>90 Seiten, 8 Tabellen, 49 Abbildungen, 52 Anlagen</p>
<p>Zusammenfassung</p>
<p>
  In dieser Masterarbeit werden die im Titel genannten Standards technisch miteinander verglichen. Dies umfasst die Erstellung, Bereitstellung, Nutzung und einige weitere Kriterien. Es wurden zwei Gebiete betrachtet, um auch verschiedene Datenquellen gegenüberstellen zu können. Untersucht wird das Anzeigen eines Orthomosaiks und die Visualisierung eines Oberflächenmodells. Als Plattform zur Bereitstellung der Daten im Internet wird in dieser Arbeit Amazon Web Services verwendet, dies ist einer der größten Anbieter von Cloud Solutions.
</p>
<p>
  Es wird Entscheidungsträgern mithilfe der Arbeit ermöglicht, anhand der gesammelten Daten die Entscheidung zu treffen, welcher der Standards in welchem Anwendungsfall genutzt werden soll. Dies wird durch eine Matrix gewährleistet, in welcher die einzelnen Kriterien unterschiedlich gewichtet werden.
</p>
<p>
  Um eine Reproduzierbarkeit zu ermöglichen, enthält diese Arbeit alle Workflows, welche genutzt wurden, um aus den Eingangsdaten die Standards zu erstellen. Ebenso sind alle Daten als digitaler Anhang dieser Arbeit zu finden, entweder zum Download oder gespeichert auf beiliegender SD-Karte.
</p>