.header {
  float: right;
  width: 265px;

  img {
    margin-left: -60px;
    width: 60px;
  }

  p {
    float: none;
    font-size: 10px;
    font-weight: bold;
    text-align: unset;
    span {
      display: block;
      font-weight: normal;
    }
  }

  p:first-of-type {
    margin-top: 0;
  }
}

h1 {
  clear: both;
  font-size: 28px;
  line-height: 36px;
  padding: 50px 36px;
  text-align: center;
}

.meta {
  padding: 24px 24px 0;

  p {
    font-size: 16px;
    text-align: unset;
  }

  .date {
    margin: 0;
    padding: 95px 0 0;
  }

  .table {
    display: table;
    margin: 50px 0 0;

    div {
      display: table-row;

      div {
        display: table-cell;
        padding: 16px 10px 0 0;
      }
    }
  }
}
