<div class="header">
  <img alt="Logo der Hochschule Anhalt" src="/assets/images/Logo_HSA.jpg">
  <p>
    Hochschule Anhalt
    <span>Anhalt University of Applied Sciences</span>
  </p>
  <p>Fachbereich Architektur, Facility Management und Geoinformation</p>
  <p>Institut für Geoinformation und Vermessung</p>
</div>
<h1>Technischer Vergleich von Cloud Optimized GeoTIFFs mit bewährten OGC-Standards wie dem WMS, WMTS oder TMS im Bereich WebGIS.</h1>

<div class="meta">
  <p>Masterarbeit im</p>
  <p>Berufsbegleitenden Online-Masterstudiengang (M. Eng.) Geoinformationssysteme</p>
  <div class="table">
    <div>
      <div>eingereicht von:</div>
      <div>Mike Wunderlich</div>
    </div>
    <div>
      <div>geboren am:</div>
      <div>20. Februar 1991 in Guben</div>
    </div>
    <div>
      <div>Erstprüfer:</div>
      <div>Prof. Dr. Holger Baumann</div>
    </div>
    <div>
      <div>Zweitprüfer:</div>
      <div>Prof. Dr.-Ing. Lutz Bannehr</div>
    </div>
  </div>
  <p class="date">
    Calw, 07. Februar 2022
  </p>
</div>
