<app-headline headline="Einleitung" [h]="1" number="1" [id]="1"></app-headline>
  <app-c1s3-szenarien></app-c1s3-szenarien>
    <app-c1s3s1-anzeigen-eines-orthomosaik></app-c1s3s1-anzeigen-eines-orthomosaik>
    <app-c1s3s2-visualisierung-eines-oberflaechenmodells></app-c1s3s2-visualisierung-eines-oberflaechenmodells>

<app-c2-standards></app-c2-standards>
  <app-c2s1-tile-matrix-set></app-c2s1-tile-matrix-set>
  <app-c2s2-web-map-service></app-c2s2-web-map-service>
  <app-c2s3-web-map-tile-service></app-c2s3-web-map-tile-service>
  <app-c2s4-cloud-optimized-geo-tiff></app-c2s4-cloud-optimized-geo-tiff>

<app-c3-datenverarbeitung-und-bereitstellung></app-c3-datenverarbeitung-und-bereitstellung>
  <app-c3s1-vorbereitung-der-datensaetze-in-den-jeweiligen-standards></app-c3s1-vorbereitung-der-datensaetze-in-den-jeweiligen-standards>
    <app-c3s1s1-vorbereitung-des-tms></app-c3s1s1-vorbereitung-des-tms>
    <app-c3s1s2-vorbereitung-des-wmsund-wmts></app-c3s1s2-vorbereitung-des-wmsund-wmts>
    <app-c3s1s3-vorbereitung-des-cog></app-c3s1s3-vorbereitung-des-cog>