<app-headline headline="Web Map Tile Service (WMTS)" [h]="2" number="2.3" [id]="2.3"></app-headline>

<p>
  Cloud Optimized GeoTIFF (COG) ist aktuell noch nicht durch die OGC als Standard definiert worden. Das OGC hat jedoch in Zukunft die Absicht, auch weitere Cloud Optimized Standards mit aufzunehmen und deren Verbreitung und Nutzung zu erleichtern<app-quote
      id="2-Open Geospatial Consortium-COG"
      author="Open Geospatial Consortium"
      lastVisit="29.01.2022"
      publicationDate="03.12.2021"
      title="Towards a Cloud-Native Geospatial standards baseline"
      [vgl]="true"
      URL="https://www.ogc.org/blog/4609"></app-quote>.
</p>

<p>
  Das COG ermöglicht die Nutzung von zwei Methoden verschiedener Technologien. Zum einen das Speichern und Organisieren von Rasterdaten innerhalb eines GeoTIFFs und zum anderen das gezielte Abrufen von Bereichsanforderungen über HTTP Get range requests<app-quote
      id="2-cogeotiff"
      author="Cloud Optimized GeoTIFF"
      lastVisit="29.01.2022"
      title="Cloud Optimized GeoTIFF in depth"
      [vgl]="true"
      URL="https://www.cogeo.org/in-depth.html"></app-quote>.
</p>

<p>
  Die Rasterdaten werden im Gegensatz zu einem Standard- GeoTIFF nicht in Zeilen abgelegt, sondern ähnlich zu den TMS in Tiles innerhalb des GeoTIFFs. Diese beiden unterschiedlichen Verfahren werden in der folgenden Abbildung gegenübergestellt. Dadurch ergibt sich eine schnellere Ladezeit, falls nur ein kleiner Teilbereich des GeoTIFFs benötigt wird und somit nicht erst das gesamte Bild geladen werden muss.
</p>

<app-figure
    id="2-3"
    src="/assets/images/Standards/COG_Tiling.jpg"
    caption="Abfrage von Tiles im Vergleich zu Zeilen"
    source="Element 84 - Cloud Optimized GeoTIFF vs the Meta Raster Format"
    [sourceQuote]="element84"></app-figure>

<p>
  Ein weiterer Aspekt, welcher den Zugriff auf ein COG beschleunigt, ist das Speichern von Übersichten. Hierbei handelt es sich um schlechter aufgelöste Abbildungen, welche das gesamte Gebiet abdecken und auch innerhalb des COG gespeichert werden. Diese Übersichten ermöglichen es dem Nutzer, nur diejenigen Rasterdaten anzufordern ,die aktuell für eine Zoomstufe benötigt werden [Quelle: https://www.element84.com/blog/cloud-optimized-geotiff-vs-the-meta-raster-format]. So wird unnötige Netzwerklast vermieden. Technisch lässt sich dies mit dem TMS vergleichen, jedoch werden die Tiles beim COG in der inneren Struktur gespeichert.
  <app-quote
      [edb]="true"
      id="2-Element84"></app-quote>
</p>

<p>
  Die nachfolgende Abbildung zeigt eine Veranschaulichung der Übersichten innerhalb eines GeoTIFFs. Dabei lässt sich erkennen, dass die Übersichten schlechter aufgelöst sind und somit die Netzwerklast bei kleineren Auflösungen erheblich reduzieren können.
</p>

<app-figure
    id="2-4"
    src="/assets/images/Standards/COG_overviews.png"
    caption="Veranschaulichung von Übersichten innerhalb eines GeoTIFFs"
    source="Element 84 - Cloud Optimized GeoTIFF vs the Meta Raster Format"
    [sourceQuote]="element84"></app-figure>

<p>
  Die Positionsangabe der Tiles erfolgt innerhalb des Headers des COG in sogenannten Image File Directory (IFD)<app-quote
  id="2-cogeotiff-Github"
  author="Cloud Optimized GeoTIFF"
  chapter="Definition"
  lastVisit="29.01.2022"
  publicationDate="27.10.2021"
  title="Cloud optimized GeoTIFF"
  [vgl]="true"
  URL="https://github.com/cogeotiff/cog-spec/blob/master/spec.md"></app-quote>.
</p>

<p>
  Der Aufbau eines COG gliedert sich wie folgt:
</p>

<ul>
  <li>Eine Signatur, entweder TIFF oder BigTIFF (falls größer als 4GB)</li>
  <li>Den Header des GeoTIFFs, IFD</li>
  <li>Werte, welche nicht in den IFD gehören; dies können zum Beispiel TileOffsets, TileByteCounts oder GeoTIFF keys sein (Optional)</li>
  <li>IFD der ersten Übersicht (im Normalfall mit einer Potenz von 2) (Optional)</li>
  <li>IFD der zweiten Übersicht (im Normalfall mit einer Potenz von 4) (Optional)</li>
  <li>...</li>
  <li>IFD der letzten Übersicht (im Normalfall mit einer Potenz von 2N) (Optional)</li>
  <li>Tile Rasterdaten der letzten Übersicht (Optional)</li>
  <li>...</li>
  <li>Tile Rasterdaten der ersten Übersicht (Optional)</li>
  <li>Tile Rasterdaten</li>
</ul>

<p>
  Der Aufbau zeigt, dass im ersten Schritt die Positionen der Rasterdaten innerhalb des COG für die jeweiligen Übersichten beschrieben werden und erst im Anschluss daran die Rasterdaten selbst folgen.
</p>

<p>
  Um die benötigten Tiles an den Nutzer auszuliefern, wird eine Methode des HTTP-Servers namens HTTP Get Range- requests genutzt. Hierbei ist zu beachten, dass der HTTP-Server die Accept-Ranges: bytes unterstützt. Durch diese Methode ist es möglich, gezielt Bereiche von Bytes an den Client zu übertragen, ohne das gesamte GeoTIFF senden zu müssen.
</p>

<p>
  Somit es es möglich, die gewünschten Rasterzellen zu lesen, ohne die gesamte Zeile zu durchsuchen. So kann die Dauer der Verarbeitung des Rasters verkürzt werden.
</p>

<p>
  Aufgrund dessen ist der oben beschriebene Aufbau des COG wichtig und sollte auch stets eingehalten und überprüft werden. So wird gewährleistet, dass, zuerst der beschreibende Teil des COG gelesen wird, welcher die Positionen der Rasterdaten wiedergibt. Anhand dieser Positionsbeschreibung erkennt die Software anschließend, wo sich die für die Ansicht benötigten Daten befinden und kann diese Tiles gezielt abfragen.
</p>
