<app-headline [headline]="'Vorbereitung des WMS und WMTS'" [h]="3" [number]="'3.1.2'" [id]="3.12"></app-headline>

<p>
  In diesem Kapitel betrachten wir die nötigen Entscheidungs- und Arbeitsschritte um die Daten für die Veröffentlichung über die Software GeoServer vorzubereiten. Diese wird das GeoTIFF lesen und die geforderten Bereiche für den WMS bzw. WMTS ausliefern. Der Prozess sollte so effizient wie möglich ablaufen, um die Wartezeit des Nutzers zu verringern.
</p>

<p>
  Hierzu muss als erstes die Dateigröße des Datensatzes betrachtet werden. Die Software GeoServer ist zwar in der Lage, extrem große Datensätze zu nutzen, jedoch müssen diese hierfür in einer speziellen Weise angelegt werden.
</p>

<div class="avoidBreak">
  <p>
    Es gibt folgende Möglichkeiten GeoTiffs aufzuarbeiten. Grundlage für die Entscheidung für eine der Methoden bildet die Dateigröße<app-quote
    id="3-GeoSolutions"
    author="GeoSolutions: Simone Giannecchini"
    lastVisit="29.01.2022"
    publicationDate="28.05.2020"
    title="Best Practices for Optimizing Performance with GeoServer"
    [vgl]="true"
    URL="https://www.geosolutionsgroup.com/news/geoserver-performance-2020-webinar/"></app-quote>:
  </p>

  <ul>
    <li>kleiner als 4 Gigabyte: Aufarbeitung einer einzelnen GeoTIFF- Datei</li>
    <li>kleiner als 20 Gigabyte: Aufarbeitung einer einzelnen BigTIFF - GeoTIFF Datei</li>
    <li>kleiner als 500 Gigabyte: Erstellung eines Mosaik aus einzelnen BigTIFF - GeoTIFFs</li>
    <li>Alles weitere sollte als ImagePyramid erstellt werden, auf welche in dieser Arbeit nicht näher eingegangen wird.</li>
  </ul>
</div>

<p>
  Alle in der Auflistung genannten GeoTIFFs sollten ein internes Tiling sowie Übersichten enthalten. Dies sind Eigenschaften, welche auch für das COG relevant sind und in <a href="#content-2.4">Kapitel 2.4</a> näher beschrieben wurden.
</p>

<p>
  Weiterhin ist es zu empfehlen, die Dateien im meistgenutzten Koordinatensystem abzulegen, da ein GeoServer zwar die Daten on-the-fly umprojizieren könnte, dies jedoch mit weiterer Rechenzeit verbunden wäre, während der Nutzer auf die Daten wartet. Auf diesen Umstand wird in <a href="#content-5.2">Kapitel 5.2</a> im Rahmen der Vorstellung der Ergebnisse, näher eingegangen. Zusätzlich kann eine gewählte Komprimierung beschleunigend auf die Bereitstellung der Daten wirken. Dabei empfiehlt GeoServer eine Deflate Komprimierung für Rasterdaten mit Höheninformation bzw Rasterinformationen, welche nicht in RGB-Kanälen aufgebaut sind.
</p>

<p>
  Dadurch ist der erste Schritt, die Umprojektion der Daten, nur dann erforderlich, wenn die Daten noch nicht in EPSG:3857 vorliegen. Dies ist bei den Daten des Gebiets Strenzfeld gegeben:
</p>

<app-codeblock [lineNumbers]="false" code="gdalwarp -s_srs EPSG:32632 -t_srs EPSG:3857 -ts 0.3115 0.3115
    ./dsm_strenzfeld.tif ./dsm_strenzfeld_input.tif
    -multi -wo NUM_THREADS=ALL_CPUS"></app-codeblock>

<p>
  Durch diese Umprojektion enthält das erstellte GeoTIFF keine Übersichten. Um diese zu generieren kann entweder QGIS verwendet werden oder der folgende GDAL- Befehl:
</p>

<app-codeblock [lineNumbers]="false" code="gdaladdo -r average ./dsm_strenzfeld_input.tif
    --config GDAL_NUM_THREADS ALL_CPUS"></app-codeblock>

<p>
  Wenn anschließend die Daten in dem gewünschten Koordinatensystem vorliegen und Übersichten enthalten, muss darauf folgend das interne Tiling der Daten ermöglicht werden. Dieser Schritt sowie die Komprimierung erfolgen durch den unten folgenden Befehl. Bei Datensätzen über 4 Gigabyte ist es weiterhin erforderlich, den Parameter <span class="code">-co BIGTIFF=YES</span> zu setzen:
</p>

<app-codeblock [lineNumbers]="false" code="gdal_translate ./dsm_strenzfeld_input.tif ./wms/dsm_strenzfeld.tif
    -co TILED=YES -co COPY_SRC_OVERVIEWS=YES -co COMPRESS=DEFLATE"></app-codeblock>

<p>
  Zur Überprüfung, ob alle Befehle zu dem gewünschten Ergebnis geführt haben, empfiehlt es sich, den Befehl "gdalinfo" bezogen auf auf den betroffenen Datensatz auszuführen:
</p>

<app-codeblock [lineNumbers]="false" code="gdalinfo ./wms/dsm_strenzfeld.tif"></app-codeblock>

Die Ergebnisse sollten die folgenden Merkmale enthalten, damit dieser Datensatz nachfolgend für die Verwendung in einem GeoServer genutzt werden kann:
<ul>
  <li><span class="code">Coordinate System is: ... ID["EPSG",3857]]</span> = neues durch gdalwarp gewähltes Koordinatensystem</li>
  <li><span class="code">Image Structure Metadata: COMPRESSION=DEFLATE</span> = in gdal_translate festgelegte Komprimierung</li>
  <li><span class="code">Band 1 Block=256x256 Type=Float32, ColorInterp=Gray</span> = interne Tiles mit einer größe von 256x256 Pixel</li>
  <li><span class="code">Overviews: 11394x9542, ..., 179x150</span> = durch gdaladdo hinzugefügte Übersichten</li>
</ul>

<p>
  Eine Besonderheit des GeoServers ist bei der JPEG Komprimierung zu berücksichtigen: Diese kann nur mit RGB-Kanälen verwendet werden<app-quote
  id="3-StackExchange-reexyyl"
  author="StackExchange: reexyyl"
  lastVisit="29.01.2022"
  publicationDate="13.05.2020"
  title="GeoServer fails to read a JPEG compressed TIFF with alpha band"
  [vgl]="true"
  URL="https://gis.stackexchange.com/a/361481"></app-quote>. Dadurch ist es notwendig, die Orthomosaike in RGB-Bänder mit Masken zu konvertieren. Dies erfolgt durch den folgenden GDAL-Befehl:
</p>

<app-codeblock [lineNumbers]="false" code="gdal_translate ./ortho_lindenrain.tif ./ortho_lindenrain_input.tif
    -b 1 -b 2 -b 3 -mask 4 -co COMPRESS=JPEG -co PHOTOMETRIC=YCBCR
    --config GDAL_TIFF_INTERNAL_MASK YES"></app-codeblock>

<p>
  Diese Vorgehensweise führt zwar zu dem Nachteil, dass jedes Band nun eine eigene Maske erhält, welche die Transparenz des jeweiligen Kanals gewährleistet. Somit wird diese Information der Transparenz für jeden Kanal gespeichert. Dies ist eine Redundanz, welche aufgrund der RGB-Kanäle benötigt wird. Eine mögliche Alternative wäre die Ausführung einer DEFLATE-Komprimierung, dies würde jedoch einen weitaus größeren Datensatz mit 8,8 GB erzeugen. Da der durch den oben genannten Befehl generierte Datensatz nur eine Größe von 435,7 MB aufweist, ist die Konvertierung von RGBA zu RGB mit Masken der DEFLATE-Komprimierung vorzuziehen. Zur Erstellung der internen Tiles wird der gleiche GDAL-Befehl wie für das Oberflächenmodell verwendet, mit dem Unterschied, dass als Dateiformat zur Komprimierung nun JPEG zu wählen ist:
</p>

<app-codeblock [lineNumbers]="false" code="gdal_translate ./ortho_strenzfeld_input.tif ./wms/ortho_strenzfeld.tif
    -of COG -co COMPRESS=JPEG -co NUM_THREADS=ALL_CPUS"></app-codeblock>

<p>
  Analog zu der Beschreibung des Datensatzes "dsm_strenzfeld.tif", müssen an dieser Stelle ebenfalls die geforderten Merkmale geprüft werden.
</p>