<app-headline headline="Bereitstellung der Datensätze in den jeweiligen Standards" [h]="2" number="3.2" [id]="3.2"></app-headline>

<p>
  Die Versendung der Datensätze an einen Nutzer bzw. dessen Webbrowser setzt voraus, dass die Daten von einem Webserver bereitgestellt werden. Bei diesem kann es sich sowohl um einen Server handeln, welcher ausschließlich die angeforderten Daten für den Nutzer bereitstellt, als auch um einen GeoServer, welcher vom Webbrowser eine Anfrage für eine bestimmte Fläche erhält und die Geodaten serverseitig für den Nutzer rendert. Dadurch werden nicht die Geodaten selbst, sondern ein Abbild von ihnen an den Browser gesendet.
</p>

<p>
  Zur Auslieferung der statischen Daten, wie im Fall von TMS und COG, wird nur ein einfacher WebServer, wie beispielsweise Nginx oder ein Apache- HTTP Server, benötigt. Da in dieser Arbeit jedoch die Dienste von Amazon Web Services (<app-abbreviation abbreviation="AWS" description="Amazon Web Services"></app-abbreviation>) verwendet werden, wird auf die Ausführungen hierzu verzichtet und auf AWS Simple Cloud Storage (<app-abbreviation abbreviation="S3" description="Simple Cloud Storage"></app-abbreviation>) zurückgegriffen.
</p>

<p>
  AWS S3 bietet den Vorteil, dass, im Gegensatz zum Webhosting, ausschließlich für den genutzten Speicherplatz und Traffic gezahlt wird. In der Folge kommt es zu keiner Überfüllung des Speicherplatzes und damit verbundenen Ausfällen. Insbesondere im Hinblick auf Projekte, bei welchen der Bedarf des Speicherplatzes unbekannt ist, kann dies besonders von Vorteil sein.
</p>

<p>
  Der Upload zu einem Server erfolgt in der Regel über File Transfer Protocol (<app-abbreviation abbreviation="FTP" description="File Transfer Protocol"></app-abbreviation>) bzw. Secure File Transfer Protocol (<app-abbreviation abbreviation="SFTP" description="Secure File Transfer Protocol"></app-abbreviation>). Dies ist bei AWS S3 zwar auch möglich, jedoch ist die Nutzung der AWS Command Line Interface (<app-abbreviation abbreviation="AWS CLI" description="AWS Command Line Interface"></app-abbreviation>) zum programmatischen Upload besser geeignet, da dieser über eine einzelne Codezeile initiiert wird und keine manuelle Interaktion benötigt.
</p>

<p>
  Im Vergleich dazu können die Standards WMS und WMTS hingegen nicht einfach über einen Webserver, welcher nur statische Dateien ausliefert, betrieben werden. Vielmehr benötigen sie einen Server, welcher die Anfragen des Clients, welcher Parameter in der URL sendet, verarbeitet. Hierbei kann es sich um einen proprietären ESRI ArcGIS Server oder, wie in dieser Arbeit verwendet, um einen Open Source GeoServer, handeln.
</p>

<p>
  Der Betrieb dieses GeoServers erfolgt notwendigerweise über einen Server. Hierzu wird in dieser Arbeit ein weiterer Dienst von AWS genutzt, Elastic Compute Cloud (<app-abbreviation abbreviation="EC2" description="Elastic Compute Cloud"></app-abbreviation>). Wie bereits im Rahmen von AWS S3 hat dieser Dienst den Vorteil, dass nur die tatsächlich genutzten Ressourcen stundengenau abgerechnet werden.
</p>

<p>
  AWS bietet durch Auto Scaling eine einfache Möglichkeit, nur diejenigen Ressourcen zu nutzen, die auch tatsächlich benötigt werden.<app-quote
  id="3-AWS-Auto-Scaling"
  author="AWS"
  lastVisit="03.02.2022"
  title="AWS Auto Scaling"
  [vgl]="true"
  URL="https://aws.amazon.com/de/autoscaling/"></app-quote> Auch wenn dies nicht Gegenstand der vorliegenden Arbeit ist, sollte es dennoch erwähnt werden, da es gegenüber Dedizierten-Servern, d.h. Servern, welche dauerhaft mit ihrer gesamten Leistung zur Verfügung stehen, den Vorteil bietet, dass bei geringer Belastung Ressourcen abgeschaltet und bei starker Belastung automatisch weitere Instanzen hinzugefügt werden. Bei Dedicated-Servern müsste hingegen durchgehend für die zur Verfügung gestellte Leistung gezahlt werden, auch wenn diese nicht benötigt wird. Auf diese Möglichkeit der Preisgestaltung wird im <a href="#content-5">Kapitel 5</a> näher eingegangen.
</p>

<p>
  Die Bereitstellung der Datensätze kann in zwei Kategorien unterteilt werden. Zum einen erfolgt sie mittels AWS S3 und zum anderen durch die Installation und Bereitstellung mittels Geoserver.
</p>