<app-headline [headline]="'Ergebnisse des TMS'" [h]="2" [number]="'5.1'" [id]="5.1"></app-headline>

<p>
  Wie in <a href="#content-3.11">Kapitel 3.1.1</a> beschrieben, wurde wurde in dieser Arbeit auch der Ansatz verfolgt, die Erstellung des TMS in einzelne Schritte aufzuteilen, um eine möglichst parallele Auslastung der Threads zu erreichen. Dies führte zu einer erheblichen Beschleunigung der Erstellung bei Nutzung der Workstation. In der nächsten Abbildung ist ein Vergleich der Generierung des Orthomosaiks Lindenrain unter Nutzung der Workstation bzw. des Notebooks zu sehen. Dieser Datensatz wurde aufgrund der hohen Auflösung und der damit einhergehenden hohen Zoomlevel gewählt. Durch die hohe Anzahl an Zoomstufen ist die Zeitersparnis der Parallelisierung höher. Die normale Generierung ist auf der Workstation um ein 2,48-Faches langsamer, wohingegen auf dem Notebook die normale Generierung nur um das 1,24-Fache langsamer ist.
</p>

<div class="chart" style="height: 265px;">
  <app-chart
      [id]="'tmsCompareMulti'"
      [caption]="'Vergleich TMS Generierung'"
      captionID="5-7"
      [sort]="5.07"
      source="eigene Daten"
      [data]="dataTmsCompareMulti"
      [displayLegend]="true"
      [setSize]="100"
      [suffix]="' s'"
      [suffixTooltip]="' s'">>
  </app-chart>
</div>

<p>
  Die nächsten beiden Abbildungen zeigen das Verhältnis der Zoomstufen zu der Anzahl der Tiles bzw. zu der Dateigröße der jeweiligen Zoomstufe des Orthomosaiks Lindenrain. Dies markiert das in <a href="#content-5">Kapitel 5</a> angesprochene exponentielle Wachstum.
</p>

<div class="chart" style="height: 265px;">
  <app-chart
      [id]="'tmsTileNumber'"
      [caption]="'Anzahl der Tiles'"
      captionID="5-8"
      [sort]="5.08"
      source="eigene Daten"
      [data]="dataTmsTileNumber"
      [format]="''">
  </app-chart>
</div>

<span style="visibility: hidden;">a</span> <!-- Needed to display two charts -->

<div class="chart" style="height: 265px;">
  <app-chart
      [id]="'tmsSize'"
      [caption]="'Größe des TMS ortho_lindenrain'"
      captionID="5-9"
      [sort]="5.09"
      source="eigene Daten"
      [data]="dataTmsSize"
      [format]="'round3'"
      [suffix]="' MB'"
      [suffixTooltip]="' MB'">>
  </app-chart>
</div>

<p>
  Die Kosten für die Bereitstellung der Datensätze setzen sich für das TMS wie folgt zusammen:
</p>

<ul class="avoidBreak">
  <li>Speicherung der TMS: 9,7 GB x 0,0245$ = 0,2377$ => 0,24$ pro Monat</li>
  <li>Hochladen von 156.431 Dateien: 156.431 PUT-Anforderungen x 0,0000054 USD pro Anfrage = 0,8447 USD einmalig</li>
</ul>

<p>
  Sollte die Darstellung des TMS geändert werden sollen, muss hierzu ein komplett neuer Datensatz erstellt werden. Somit ist es nicht möglich, nur den Stil anzupassen ohne den Datensatz vollständig neu hochzuladen.
</p>

<p class="newPageBefore">
  Der TMS ist ebenfalls nicht in der Lage, Rasterwerte, abgesehen von RGB, wiederzugeben. Es gibt zwar Datensätze, welche Höheninformationen in den RGB-Kanälen enthalten,<app-quote
  id="5-maptiler"
  author="maptiler"
  lastVisit="18.02.2022"
  publicationDate="21.03.2019"
  title="RGB-encoded elevation data in MapTiler Cloud"
  [vgl]="true"
  URL="https://www.maptiler.com/news/2019/03/rgb-encoded-elevation-data-in-maptiler-cloud/"></app-quote> die Generierung ist jedoch mit einem großen Aufwand verbunden, sodass es zielführender sein kann, einen anderen Standard zu nutzen.<app-quote
  id="5-gif4water"
  author="GIS for water"
  lastVisit="18.02.2022"
  title="Create terrain rgb tile from dem"
  [vgl]="true"
  URL="https://water-gis.com/en/setups/terrain-rgb/create_terrainrgb/"></app-quote>
</p>