.list {
  .numbered {
    background: #fff;
    clear: both;
    float: left;
    padding: 1px 0;
    width: 120px;
  }
  
  .caption {
    background: #fff;
    float: left;
    max-width: 400px;
    overflow: hidden;
    padding: 1px 0.5em;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .dotted {
    border-bottom: 1px dotted grey;
    margin-bottom: 4px;
  }

  .pageNumber {
    background: #fff;
    float: right;
    padding: 1px 0.5em;
  }

  div {
    height: 20px;
  }
}
