<app-headline headline="Ziel der Arbeit" [h]="2" number="1.1" [id]="1.1"></app-headline>

<p>
  All die oben genannten Anwendungsbeispiele haben gemeinsam, dass der Nutzer mit Geoinformationen versorgt wird. Diese können zum einen Vektordaten wie Punkte, Linien oder Flächen darstellen und zum anderen Rasterdaten, wie zum Beispiel die Google Maps Satellitenansicht. Rasterdaten beinhalten die eigentlichen Informationen in Zeilen und Reihen, ähnlich wie eine Tabelle. Im Laufe der Zeit haben sich mehrere Standards entwickelt, um Geoinformationen für den Anwender zu visualisieren und zugänglich zu machen. Fraglich ist, welche der Standards in Bezug auf die Bereitstellung der Informationen für den Nutzer in einem WebGIS am effektivsten ist.
</p>

<p>
  Diese Arbeit hat folglich die Absicht, die untersuchten Standards technisch miteinander zu vergleichen. Ihr Ziel ist es, durch die gewonnenen Erkenntnisse dem Anwender und allen Entscheidungsträgern eine fundierte Grundlage zur Verfügung zu stellen, die sie bei der Entscheidung, welcher der Standards für welchen Anwendungsfall gewählt werden sollte um ein Projekt so effizient wie möglich auszuführen, unterstützt. Somit ist die zentrale Fragestellung, welcher der Standards am besten geeignet ist, um Rasterdaten in einem WebGIS bzw. WebMap einzubinden.
</p>

<p>
  Zur Untersuchung wurden folgende Parameter ausgewählt: analysiert wird die Datenverarbeitung und ihre Bereitstellung anhand der aktuell am häufigsten verwendeten Standards Tile Matrix Set (TMS), Web Map Service (WMS), Web Map Tile Service (WMTS) und Cloud Optimized GeoTIFF (<app-abbreviation abbreviation="COG" description="Cloud Optimized GeoTIFF"></app-abbreviation>). Zur Veranschaulichung wurden zwei Unterschiedliche Szenarien gewählt, hierbei handelt es sich zum einen um die Anzeige eines Orthomosaik und zum anderen um die Visualisierung eines Oberflächenmodells.
</p>

<p>
  Zu Beginn der Arbeit sollen diese zunächst beschrieben werden.
</p>