<div [id]="'figure-'+id">
  <img src="{{src}}" alt="{{caption}}" [style]="imageStyle">
  <p class="caption">
    <span>Abbildung {{id}}:</span> {{caption}}
    <ng-container *ngIf="source"><br>
      <span>Quelle:</span> {{source}}
    <app-quote
      *ngIf="checkQuote()"
      [id]="getQuote('id')"
      [author]="getQuote('author')"
      [lastVisit]="getQuote('lastVisit')"
      [publicationDate]="getQuote('publicationDate')"
      [title]="getQuote('title')"
      [URL]="getQuote('URL')"></app-quote>
    </ng-container>
  </p>
</div>
