<app-headline  class="newPageBefore" [headline]="'Methodik'" [h]="1" [number]="'4'" [id]="4"></app-headline>

<p>
  Die Methodik lässt sich für diese Arbeit in fünf Bereiche aufteilen, auf die in den nachfolgenden Abschnitten eingegangen werden soll.
</p>

<p>
  Zuerst soll betrachtet werden, auf welche Art die Dauer der Datenaufarbeitung erfasst wird. Zur Analyse werden hier neben den Szenarien und Standards auch zwei verschiedene Hardware- Ansätze, einmal mobil mit einem Notebook sowie stationär unter Nutzung einer Workstation, miteinander verglichen.
</p>

<p>
  Darauf folgend wird auf die Bereitstellung der Datensätze eingegangen, um die Unterschiede der einzelnen Standards mit Bezug auf den Upload zu AWS S3 bzw. AWS EC2 zur finalen Bereitstellung hervorzuheben.
</p>

<p>
  Für den Nutzer der Datensätze ist jedoch die Zeit bis zur Darstellung auf dem Endgerät entscheidend. Durch die allgemeine Verfügbarkeit und Geschwindigkeit der Geoinformationen von Google Maps (Alphabet Inc.), Bing Maps (Microsoft Corporation) oder ArcGIS Online (ESRI) erwarten Nutzer diese Geschwindigkeiten auch von anderen Anbietern bzw. Diensten. Aufgrund dieser Gewohnheit empfindet der Nutzer eine verkürzte Wartezeit als gefühltes Qualitätsmerkmal, folglich ist diese anzustreben.
</p>

<p>
  Für den Betreiber dieser Dienste auf der anderen Seite ist jedoch auch die Betrachtung der monatlichen bzw. jährlichen Kosten relevant. Dabei sind nicht nur die Kosten für das eigentliche Hosting zu betrachten sondern unter anderem auch mögliche Wartungen der Software und Anpassungen bei Updates.
</p>

<p>
  Diese gesammelten Daten werden nun in einer gewichteten Matrix abgebildet und jeder Standard erhält eine Punktzahl von 0 bis 9 zur Bewertung. Neben der Punktzahl wird zusätzlich eine Beschreibung und Begründung hinzugefügt, um die Wahl der jeweiligen Punktzahl zu erläutern. Neben den in Kapitel 4.1 bis 4.4 erfassten Daten, werden diese in der Matrix um weitere Kriterien ergänzt, um auch Aspekte wie spezielle Eigenschaften des Standards einfließen zu lassen.
</p>
