<app-headline
    [headline]="'Digitaler Anhang'"
    [h]="1"
    [number]="'0'"
    [id]="8"
    [type]="'roman'"></app-headline>
<p>
  Die hier gelisteten Daten finden sich zum einen auf der SD-Karte in der gedruckten Version und zum anderen als Download zur Verfügung, der Link ist jeweils dem Text hinterlegt und kann per Klick geöffnet werden. Auch <a href="https://data.masterarbeit-cog.de/attachment/Masterarbeit_Wunderlich_2022.pdf" rel="noopener" target="_blank">diese Arbeit</a> ist als PDF im digitalen Anhang vorhanden.
</p>

<h2>GeoDaten</h2>
<p>
  Hierbei handelt es sich um die Eingangsdaten und die daraus erstellten Standards.
</p>

<ul>
  <li>
    000_Eingangsdaten
    <ul>
      <li><a href="https://data.masterarbeit-cog.de/attachment/000_Eingangsdaten/dsm_lindenrain.tif" rel="noopener" target="_blank">dsm_lindenrain.tif</a></li>
      <li><a href="https://data.masterarbeit-cog.de/attachment/000_Eingangsdaten/dsm_strenzfeld.tif" rel="noopener" target="_blank">dsm_strenzfeld.tif</a></li>
      <li><a href="https://data.masterarbeit-cog.de/attachment/000_Eingangsdaten/ortho_lindenrain.tif" rel="noopener" target="_blank">ortho_lindenrain.tif</a></li>
      <li><a href="https://data.masterarbeit-cog.de/attachment/000_Eingangsdaten/ortho_strenzfeld.tif" rel="noopener" target="_blank">ortho_strenzfeld.tif</a></li>
    </ul>
  </li>

  <li>
    001_TMS
    <ul>
      <li><a href="https://data.masterarbeit-cog.de/attachment/001_TMS/dsm_lindenrain.zip" rel="noopener" target="_blank">dsm_lindenrain.zip</a></li>
      <li><a href="https://data.masterarbeit-cog.de/attachment/001_TMS/dsm_strenzfeld.zip" rel="noopener" target="_blank">dsm_strenzfeld.zip</a></li>
      <li><a href="https://data.masterarbeit-cog.de/attachment/001_TMS/ortho_lindenrain.zip" rel="noopener" target="_blank">ortho_lindenrain.zip</a></li>
      <li><a href="https://data.masterarbeit-cog.de/attachment/001_TMS/ortho_strenzfeld.zip" rel="noopener" target="_blank">ortho_strenzfeld.zip</a></li>
    </ul>
  </li>

  <li>
    002_WMS
    <ul>
      <li><a href="https://data.masterarbeit-cog.de/attachment/002_WMS/dsm_lindenrain.tif" rel="noopener" target="_blank">dsm_lindenrain.tif</a></li>
      <li><a href="https://data.masterarbeit-cog.de/attachment/002_WMS/dsm_strenzfeld.tif" rel="noopener" target="_blank">dsm_strenzfeld.tif</a></li>
      <li><a href="https://data.masterarbeit-cog.de/attachment/002_WMS/ortho_lindenrain.tif" rel="noopener" target="_blank">ortho_lindenrain.tif</a></li>
      <li><a href="https://data.masterarbeit-cog.de/attachment/002_WMS/ortho_strenzfeld.tif" rel="noopener" target="_blank">ortho_strenzfeld.tif</a></li>
      <li><a href="https://data.masterarbeit-cog.de/attachment/002_WMS/ortho_strenzfeld_32632.tif" rel="noopener" target="_blank">ortho_strenzfeld_32632.tif</a></li>
    </ul>

  </li>
  <li>
    003_COG
    <ul>
      <li><a href="https://data.masterarbeit-cog.de/attachment/003_COG/dsm_lindenrain.tif" rel="noopener" target="_blank">dsm_lindenrain.tif</a></li>
      <li><a href="https://data.masterarbeit-cog.de/attachment/003_COG/dsm_strenzfeld.tif" rel="noopener" target="_blank">dsm_strenzfeld.tif</a></li>
      <li><a href="https://data.masterarbeit-cog.de/attachment/003_COG/ortho_lindenrain.tif" rel="noopener" target="_blank">ortho_lindenrain.tif</a></li>
      <li><a href="https://data.masterarbeit-cog.de/attachment/003_COG/ortho_lindenrain_256.tif" rel="noopener" target="_blank">ortho_lindenrain_256.tif</a></li>
      <li><a href="https://data.masterarbeit-cog.de/attachment/003_COG/ortho_strenzfeld.tif" rel="noopener" target="_blank">ortho_strenzfeld.tif</a></li>
      <li><a href="https://data.masterarbeit-cog.de/attachment/003_COG/ortho_strenzfeld_256.tif" rel="noopener" target="_blank">ortho_strenzfeld_256.tif</a></li>
    </ul>
  </li>
</ul>

<h2 class="newPageBefore">Erfasste Daten</h2>
<p>
  Hierbei handelt es sich zum einen um die erfassten Rohdaten (.zip) sowie die daraus gewonnenen Übersichten (.csv / .csv.zip).
</p>
<ul>
  <li>
    004_Zeit_Vorbereitung
    <ul>
      <li>
        <a href="https://data.masterarbeit-cog.de/attachment/004_Zeit_Vorbereitung/001_TMS.csv.zip" rel="noopener" target="_blank">001_TMS.csv.zip</a><br>
        <a href="https://data.masterarbeit-cog.de/attachment/004_Zeit_Vorbereitung/001_TMS.zip" rel="noopener" target="_blank">001_TMS.zip</a>
      </li>
      <li>
        <a href="https://data.masterarbeit-cog.de/attachment/004_Zeit_Vorbereitung/002_WMS.csv.zip" rel="noopener" target="_blank">002_WMS.csv.zip</a><br>
        <a href="https://data.masterarbeit-cog.de/attachment/004_Zeit_Vorbereitung/002_WMS.zip" rel="noopener" target="_blank">002_WMS.zip</a>
      </li>
      <li>
        <a href="https://data.masterarbeit-cog.de/attachment/004_Zeit_Vorbereitung/003_COG.csv.zip" rel="noopener" target="_blank">003_COG.csv.zip</a><br>
        <a href="https://data.masterarbeit-cog.de/attachment/004_Zeit_Vorbereitung/003_COG.zip" rel="noopener" target="_blank">003_COG.zip</a>
      </li>
    </ul>
  </li>

  <li>
    005_Zeit_Bereitstellung
    <ul>
      <li>
        <a href="https://data.masterarbeit-cog.de/attachment/005_Zeit_Bereitstellung/001_TMS.csv.zip" rel="noopener" target="_blank">001_TMS.csv.zip</a><br>
        <a href="https://data.masterarbeit-cog.de/attachment/005_Zeit_Bereitstellung/001_TMS.zip" rel="noopener" target="_blank">001_TMS.zip</a>
      </li>
      <li>
        <a href="https://data.masterarbeit-cog.de/attachment/005_Zeit_Bereitstellung/002_WMS.csv.zip" rel="noopener" target="_blank">002_WMS.csv.zip</a><br>
        <a href="https://data.masterarbeit-cog.de/attachment/005_Zeit_Bereitstellung/002_WMS.zip" rel="noopener" target="_blank">002_WMS.zip</a>
      </li>
      <li>
        <a href="https://data.masterarbeit-cog.de/attachment/005_Zeit_Bereitstellung/003_COG.csv.zip" rel="noopener" target="_blank">003_COG.csv.zip</a><br>
        <a href="https://data.masterarbeit-cog.de/attachment/005_Zeit_Bereitstellung/003_COG.zip" rel="noopener" target="_blank">003_COG.zip</a>
      </li>
    </ul>
  </li>

  <li>
    006_Zeit_Requests
    <ul>
      <li>
        <a href="https://data.masterarbeit-cog.de/attachment/006_Zeit_Requests/001_TMS.csv" rel="noopener" target="_blank">001_TMS.csv</a><br>
        <a href="https://data.masterarbeit-cog.de/attachment/006_Zeit_Requests/001_TMS.zip" rel="noopener" target="_blank">001_TMS.zip</a>
      </li>
      <li>
        <a href="https://data.masterarbeit-cog.de/attachment/006_Zeit_Requests/002_WMS.csv" rel="noopener" target="_blank">002_WMS.csv</a><br>
        <a href="https://data.masterarbeit-cog.de/attachment/006_Zeit_Requests/002_WMS.zip" rel="noopener" target="_blank">002_WMS.zip</a>
      </li>
      <li>
        <a href="https://data.masterarbeit-cog.de/attachment/006_Zeit_Requests/003_WMS-32632.csv" rel="noopener" target="_blank">003_WMS-32632.csv</a><br>
        <a href="https://data.masterarbeit-cog.de/attachment/006_Zeit_Requests/003_WMS-32632.zip" rel="noopener" target="_blank">003_WMS-32632.zip</a>
      </li>
      <li>
        <a href="https://data.masterarbeit-cog.de/attachment/006_Zeit_Requests/004_WMTS.csv" rel="noopener" target="_blank">004_WMTS.csv</a><br>
        <a href="https://data.masterarbeit-cog.de/attachment/006_Zeit_Requests/004_WMTS.zip" rel="noopener" target="_blank">004_WMTS.zip</a>
      </li>
      <li>
        <a href="https://data.masterarbeit-cog.de/attachment/006_Zeit_Requests/005_WMTS-NoCache.csv" rel="noopener" target="_blank">005_WMTS-NoCache.csv</a><br>
        <a href="https://data.masterarbeit-cog.de/attachment/006_Zeit_Requests/005_WMTS-NoCache.zip" rel="noopener" target="_blank">005_WMTS-NoCache.zip</a>
      </li>
      <li>
        <a href="https://data.masterarbeit-cog.de/attachment/006_Zeit_Requests/006_WMTS-PNG.csv" rel="noopener" target="_blank">006_WMTS-PNG.csv</a><br>
        <a href="https://data.masterarbeit-cog.de/attachment/006_Zeit_Requests/006_WMTS-PNG.zip" rel="noopener" target="_blank">006_WMTS-PNG.zip</a>
      </li>
      <li>
        <a href="https://data.masterarbeit-cog.de/attachment/006_Zeit_Requests/007_WMTS-TMS.csv" rel="noopener" target="_blank">007_WMTS-TMS.csv</a><br>
        <a href="https://data.masterarbeit-cog.de/attachment/006_Zeit_Requests/007_WMTS-TMS.zip" rel="noopener" target="_blank">007_WMTS-TMS.zip</a>
      </li>
      <li>
        <a href="https://data.masterarbeit-cog.de/attachment/006_Zeit_Requests/008_COG.csv" rel="noopener" target="_blank">008_COG.csv</a><br>
        <a href="https://data.masterarbeit-cog.de/attachment/006_Zeit_Requests/008_COG.zip" rel="noopener" target="_blank">008_COG.zip</a>
      </li>
      <li>
        <a href="https://data.masterarbeit-cog.de/attachment/006_Zeit_Requests/009_COG-256.csv" rel="noopener" target="_blank">009_COG-256.csv</a><br>
        <a href="https://data.masterarbeit-cog.de/attachment/006_Zeit_Requests/009_COG-256.zip" rel="noopener" target="_blank">009_COG-256.zip</a>
      </li>
      <li>
        <a href="https://data.masterarbeit-cog.de/attachment/006_Zeit_Requests/010_COG-WMS.csv" rel="noopener" target="_blank">010_COG-WMS.csv</a><br>
        <a href="https://data.masterarbeit-cog.de/attachment/006_Zeit_Requests/010_COG-WMS.zip" rel="noopener" target="_blank">010_COG-WMS.zip</a>
      </li>
    </ul>
  </li>





</ul>