<app-headline headline="Szenarien" [h]="2" number="1.3" [id]="1.3"></app-headline>
<p>
  Um die zu untersuchenden Standards besser miteinander vergleichen zu können, wurden zwei unterschiedliche Szenarien als Rahmenbedingungen betrachtet. Ziel ist es, mithilfe dieser die möglichen Stärken und Schwächen der untersuchten Standards besser zu erkennen und zu analysieren. Hierbei handelt es sich um für Anwender aktuell gängige Szenarien, welche das Ziel haben, Geoinformationen einem Nutzer über das Internet bereitzustellen. Dabei handelt es sich zum einen um die Anzeige eines Orthomosaik und um die Visualisierung eines Oberflächenmodells.
</p>
