<app-headline headline="Szenarien" [h]="2" number="1.3" [id]="1.3"></app-headline>
<p>
  Um die zu untersuchenden Standards besser miteinander vergleichen zu können, wurden zwei unterschiedliche Szenarien als Rahmenbedingungen betrachtet. Ziel ist es, mithilfe dieser Szenarien die möglichen Stärken und Schwächen der untersuchten Standards besser zu erkennen und zu analysieren. Hierbei handelt es sich um aktuell gängige Szenarien, welche das Ziel haben, Geoinformationen für Nutzer über das Internet bereitzustellen. Dabei handelt es sich zum einen um die Anzeige eines Orthomosaiks und um die Visualisierung eines Oberflächenmodells.
</p>
