<app-headline headline="Szenarien" [h]="2" number="1.2" [id]="1.2"></app-headline>
<p>
  Um die zu untersuchenden Standards besser miteinander vergleichen zu können, wurden zwei unterschiedliche Szenarien als Rahmenbedingungen betrachtet. Ziel ist es, mithilfe dieser Szenarien die möglichen Stärken und Schwächen der untersuchten Standards besser zu erkennen und zu analysieren. Hierbei handelt es sich um aktuell gängige Szenarien, welche das Ziel haben, Geoinformationen für Nutzer über das Internet bereitzustellen. Dargestellt werden zum einen die Anzeige eines Orthomosaik und zum anderen die Visualisierung eines Oberflächenmodells.
</p>
