<app-headline class="newPageBefore" [headline]="'Datenverarbeitung und Bereitstellung'" [h]="1" [number]="'3'" [id]="3"></app-headline>
  <app-headline [headline]="'Vorraussetzungen zum ausliefern der Datensätze'" [h]="2" [number]="'3.1'" [id]="3.1"></app-headline>
    <app-headline [headline]="'Tile Matrix Set und Cloud Optimized GeoTIFF'" [h]="3" [number]="'3.1.1'" [id]="3.11"></app-headline>
    <app-headline [headline]="'Web Map Service und Web Map Tile Service'" [h]="3" [number]="'3.1.2'" [id]="3.12"></app-headline>

  <app-headline [headline]="'Vorbereitung der Datensätze'" [h]="2" [number]="'3.2'" [id]="3.2"></app-headline>
    <app-headline [headline]="'Tile Matrix Set'" [h]="3" [number]="'3.2.1'" [id]="3.21"></app-headline>
    <app-headline [headline]="'Web Map Service und Web Map Tile Service'" [h]="3" [number]="'3.2.2'" [id]="3.22"></app-headline>
    <app-headline [headline]="'Cloud Optimized GeoTIFF'" [h]="3" [number]="'3.2.3'" [id]="3.23"></app-headline>

  <app-headline [headline]="'Bereitstellung der Datensätze'" [h]="2" [number]="'3.3'" [id]="3.3"></app-headline>
    <app-headline [headline]="'Tile Matrix Set'" [h]="3" [number]="'3.3.1'" [id]="3.31"></app-headline>
    <app-headline [headline]="'Web Map Service'" [h]="3" [number]="'3.3.2'" [id]="3.32"></app-headline>
    <app-headline [headline]="'Web Map Tile Service'" [h]="3" [number]="'3.3.3'" [id]="3.33"></app-headline>
    <app-headline [headline]="'Cloud Optimized GeoTIFF'" [h]="3" [number]="'3.3.4'" [id]="3.34"></app-headline>

  <app-headline [headline]="'Nutzung der Datensätze'" [h]="2" [number]="'3.4'" [id]="3.4"></app-headline>
    <app-headline [headline]="'Tile Matrix Set'" [h]="3" [number]="'3.4.1'" [id]="3.41"></app-headline>
    <app-headline [headline]="'Web Map Service'" [h]="3" [number]="'3.4.2'" [id]="3.42"></app-headline>
    <app-headline [headline]="'Web Map Tile Service'" [h]="3" [number]="'3.4.3'" [id]="3.43"></app-headline>
    <app-headline [headline]="'Cloud Optimized GeoTIFF'" [h]="3" [number]="'3.4.4'" [id]="3.44"></app-headline>
