<app-headline class="newPageBefore" [headline]="'Vorstellung der Ergebnisse und Diskussion'" [h]="1" [number]="'5'" [id]="5"></app-headline>
<app-headline [headline]="'Tile Matrix Set'" [h]="2" [number]="'5.1'" [id]="5.1"></app-headline>
<app-headline [headline]="'Web Map Service'" [h]="2" [number]="'5.2'" [id]="5.2"></app-headline>
<app-headline [headline]="'Web Map Tile Service'" [h]="2" [number]="'5.3'" [id]="5.3"></app-headline>
<app-headline [headline]="'Cloud Optimized GeoTIFF'" [h]="2" [number]="'5.4'" [id]="5.4"></app-headline>
