<div #content class="content">
  <app-title-page class="newPageAfter"></app-title-page>
  <app-bibliographic-description class="newPageAfter"></app-bibliographic-description>
  <app-affidavit class="newPageAfter"></app-affidavit>
  <app-toc class="newPageAfter resetPageCounter pagenumber"></app-toc>
  <app-list-of-figures class="newPageAfter"></app-list-of-figures>
  <app-list-of-tables class="newPageAfter"></app-list-of-tables>
  <app-list-of-abbreviations class="newPageAfter"></app-list-of-abbreviations>
  <app-content class="resetPageCounter newPageAfter"></app-content>
  <app-bibliogaphy></app-bibliogaphy>
</div>
<div #pdf class="pdf"></div>
