<div #content class="content">
  <app-title-page class="newPageAfter"></app-title-page>
  <app-bibliographic-description class="newPageRight"></app-bibliographic-description>
  <app-affidavit class="newPageRight"></app-affidavit>
  <app-toc class="newPageRight resetPageCounter pagenumber"></app-toc>
  <app-list-of-figures class="newPageRight"></app-list-of-figures>
  <app-list-of-tables class="newPageRight"></app-list-of-tables>
  <app-list-of-abbreviations class="newPageRight"></app-list-of-abbreviations>
  <app-content class="resetPageCounter newPageRight"></app-content>
  <app-bibliogaphy class="newPageRight"></app-bibliogaphy>
  <app-digital-attachment class="newPageRight"></app-digital-attachment>
</div>
<div #pdf class="pdf"></div>

