h3::before {
  content: attr(data-number);
  display: inline-block;
  font-size: 1em;
  margin-right: 0.6em;
}
.demoMap > .placeholderImg {
  float: left;
  height: 500px;
  visibility: hidden;
  width: 0;
}
.demoMap > .map {
  clear: both;
  height: 500px;
  padding: 5px;
}
