<h3>TechDemo</h3>
<div id="map" class="demoMap"></div>
<p>Neue Abkürzung <app-abbreviation [abbreviation]="'GIS'" [description]="'Geoinformationssystem'"></app-abbreviation></p>
<p>Neue Abkürzung <app-abbreviation [abbreviation]="'DREF91'" [description]="'Deutsches Referenznetz 1991'"></app-abbreviation></p>
<p>Neue Abkürzung <app-abbreviation [abbreviation]="'API'" [description]="'Application Programming Interface'"></app-abbreviation></p>
<p>Doppelte Abkürzung <app-abbreviation [abbreviation]="'GIS'" [description]="'Geoinformationssystem'"></app-abbreviation></p>
