<app-headline headline="Visualisierung eines Oberflächenmodells" [h]="3" number="1.2.2" [id]="1.22"></app-headline>

<p>
  Beide Gebiete wurden durch die zuvor beschriebenen Kameras erfasst. Die Oberflächenmodelle stammen demnach nicht aus einer Befliegung mittels "<span>Li</span>ght <span>d</span>etection <span>a</span>nd <span>r</span>anging" (LiDAR), welches die Oberfläche mittels Laser "abtastet" und die benötigte Zeit des Lasers nutzt um die Entfernung des jeweils reflektierenden Punktes zu berechnen.
</p>

<p>
  Die hier genutzte Methode, um aus Einzelbildern ein Oberflächenmodell zu generieren, wird als Photogrammetrie bezeichnet. Es werden Bilder aus unterschiedlichen Positionen genutzt, meist Nadiraufnahmen. Dies sind Bilder, welche senkrecht zur Erdoberfläche ausgerichtet sind. Alle Aufnahmen benötigen eine ausreichende Überlappung zueinander, um die Position der abgebildeten Oberfläche anhand der Bildinhalte berechnen zu können.
</p>

<p>
  Das Oberflächenmodell des Gebiets Lindenrain hat eine Bodenauflösung von 7,5 cm pro Pixel, die Höhenwerte befinden sich zwischen 600,97 und 662,45 ü.N.N.. Der Datensatz beinhaltet einen Kanal mit dem Datentype Float32, die Datenmenge beträgt 413,6 Megabyte.
</p>

<app-figure
    id="1-3"
    [sort]="1.03"
    src="/assets/images/Einleitung/dsm_lindenrain.jpg"
    caption="Oberflächenmodell des Gebietes Lindenrain"
    source="Screenshot von QGIS"
    imageStyle="padding: 0 19%;"></app-figure>

<p>
  Das Oberflächenmodell des Gebietes Strenzfeld hat eine Bodenauflösung von 20 cm. Dies ist auf die höhere Flughöhe und somit geringere Bodenauflösung des Gyrokopters zurückzuführen. Hier befinden sich die Höhenwerte zwischen 57,31 und 111,99 Meter ü.N.N.. Auch dieser Datensatz beinhaltet einen Kanal mit dem Datentype Float32 und einer Datenmenge von 496,2 Megabyte.
</p>

<app-figure
    id="1-4"
    [sort]="1.04"
    src="/assets/images/Einleitung/dsm_strenzfeld.jpg"
    caption="Oberflächenmodell des Gebietes Strenzfeld"
    source="Screenshot von QGIS"
    imageStyle="padding: 0 19%;"></app-figure>