h3::before {
  content: attr(data-number);
  display: inline-block;
  font-size: 1em;
  margin-right: 0.6em;
}
.demoMap > .placeholderImg {
  float: left;
  height: 500px;
  visibility: hidden;
  width: 0;
}
.demoMap > .map {
  background-color: green;
  clear: both;
  height: 500px;
  padding: 5px;
}

table {
  border: 1px solid black;
  width: 100%;

  .data {
    text-align: right;
  }

  td, th {
    border: 1px solid black;
  }

  th {
    background: lightgray;
  }
}
