h1 {
  font-size: 1.5em;
}
.list {
  .numbered {
    background: #fff;
    clear: both;
    float: left;
    padding: 1px 0;
    width: 36px;
  }
  .numberedH2 {
    padding-left: 24px;
    width: 60px;
  }
  .numberedH3 {
    padding-left: 48px;
    width: 84px;
  }
  
  .caption {
    background: #fff;
    float: left;
    padding: 1px 0.5em;
  }

  .dotted {
    border-bottom: 1px dotted grey;
    margin-bottom: 5px;
  }

  .pageNumber {
    background: #fff;
    float: right;
    padding: 1px 0.5em;
  }

  div {
    height: 22px;
  }
}
.listH1 {
  margin-top: 36px;
}
