<app-headline class="newPageBefore" [headline]="'Datenverarbeitung und Bereitstellung'" [h]="1" [number]="'3'" [id]="3"></app-headline>

<p>
  Um eine Nutzung zu ermöglichen, müssen die Eingangsdaten für einen Anwender aufgearbeitet werden. Dies geschieht in mehreren Arbeitsschritten. Jeder dieser Schritte wird nachfolgend in einem separaten Kapitel beschrieben.
</p>

<p>
  Die Daten müssen zuerst für die unterschiedlichen Standards vorbereitet werden. Dazu zählt die Vorbereitung der Datensätze für die jeweiligen Tools, sowie die Erstellung der Dateien für die Standards. Die Vorgehensweise wird in <a href="#content-3.1">Kapitel 3.1</a> erläutert.
</p>

<p>
  Nachdem die Dateien erstellt wurden, müssen diese über einen Webserver bereitgestellt werden, was innerhalb eines lokalen Netzwerkes, einem Intranet oder dem Internet erfolgen kann. Innerhalb dieser Arbeit werden Amazon Web Services (AWS) verwendet. Hierauf wird in <a href="#content-3.2">Kapitel 3.2</a> eingegangen.
</p>

<p>
  Im Anschluss an die Bereitstellung der Daten durch einen Webserver, wird in <a href="#content-3.3">Kapitel 3.3</a> auf die Nutzung in Form der Implementierung der Standards in eine WebMap eingegangen. Ziel hierbei ist es, die Szenarien aus <a href="#content-1.3">Kapitel 1.3</a> in einem realen Anwendungsfall darzustellen.
</p>
