<app-headline [headline]="'Zusammenfassung'" [h]="1" [number]="'6'" [id]="6"></app-headline>

<p>
  Zuletzt bleibt es noch offen, die in dieser Arbeit gesammelten Ergebnisse in den korrekten Kontext zu bringen und somit eine zentrale Aussage zu den erlangten Erkenntnissen zu verfassen. Dies gestaltet sich aufgrund der unterschiedlichen Stärken und Schwächen der Standards und der Anwendungen als problematisch, da es keine eindeutige Antwort auf die Frage gibt, welcher der untersuchten Standard generell anderen vorzuziehen ist. Somit bleibt es eine Einzelfallentscheidung, welche durch die Faktorisierung der Kriterien der gewichteten Matrix durchgeführt werden kann.
</p>