/* List */
ul li span:not([class]), ol li span:not([class]), p span:not([class]) {
  font-weight: bold;
}

.sideBySide div {
  float: left;
  width: 49%;
}
.sideBySide div:first-child {
  margin-right: 1%;
}
.placeholderImg {
  float: left;
  visibility: hidden;
  width: 0;
}

.avoidBreak {
  break-inside: avoid;
}

iframe {
  border: none;
  height: 400px;
  width: 100%;
}

/* Tabelle */
.tableWrapper {
  break-inside: avoid;
}
.tableWrapper table {
  border: 1px solid black;
  border-collapse: collapse;
  font-family: 'Ubuntu Mono', monospace;
  font-size: 16px;
  width: 100%;
}

.tableWrapper table .data {
  text-align: right;
}

.tableWrapper table .meta {
  background: gray;
  display: table-cell;
  font-weight: bold;
  vertical-align: inherit;
}

.tableWrapper table .sameCluster {
  border-bottom: 1px solid darkgray;
}

.tableWrapper table .empty {
  background: none;
  border: solid white 1px;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
}

.tableWrapper table td, .tableWrapper table th {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 2px 6px;
}

.tableWrapper table th {
  background: gray;
}

.tableWrapper .caption {
  font-size: 13px;
  margin: 8px 0 0 15px;
  text-indent: -15px;
}
.tableWrapper .caption span {
  font-weight: bold;
}

/* Codeblocks */
.code {
  background: #d3d3d3;
  font-family: 'Ubuntu Mono', monospace;
  padding: 4px;
}

/* Links */

.figureLink::after {
  content: 'Seite ' target-counter(attr(href url), page);
}

.tableLink::after {
  content: 'Seite ' target-counter(attr(href url), page);
}

.contentLink::after {
  content:  target-counter(attr(href url), page);
}
.contentLinkRoman::after {
  content:  target-counter(attr(href url), page, upper-roman);
}

.resetPageCounter {
  counter-reset: page 1;
}

p {
  hyphens: auto;
  text-align: justify;
}
.fullLine::after {
  content: '';
  display: inline-block;
  width: 100%;
}

/* Display span as footnote */
.footnote {
  float: footnote;
  font-size: 13px;
}
[data-footnote-marker]::marker {
  content: footnote;
  font-size: 75%;
}

@page {
  font-size: 15px;
  size: A4 portrait;

  @bottom-center {
    content: counter(page);
    font-size: 14px;
    vertical-align: center;
  }
  @footnote {
    background:linear-gradient(black, black) top left no-repeat;
    background-size:25% 1px;
    float: bottom;
  }
}

@page:first {
  @bottom-center {
    content: none;
  }

  --pagedjs-margin-right: 72px !important;
  --pagedjs-margin-left: 72px !important;
  --pagedjs-margin-bottom: 72px !important;
}

@page:nth(2) {
  @bottom-center {
    content: none;
  }
}
@page:nth(3) {
  @bottom-center {
    content: none;
  }
}
@page:nth(4) {
  @bottom-center {
    content: none;
  }
}
@page:nth(5) {
  @bottom-center {
    content: none;
  }
}
@page:nth(6) {
  @bottom-center {
    content: none;
  }
}
@page:nth(7) {
  @bottom-center {
    content: counter(page, upper-roman);
  }
}
@page:nth(8) {
  @bottom-center {
    content: counter(page, upper-roman);
  }
}
@page:nth(9) {
  @bottom-center {
    content: counter(page, upper-roman);
  }
}
@page:nth(10) {
  @bottom-center {
    content: counter(page, upper-roman);
  }
}
@page:nth(11) {
  @bottom-center {
    content: counter(page, upper-roman);
  }
}
@page:nth(12) {
  @bottom-center {
    content: counter(page, upper-roman);
  }
}
@page:nth(13) {
  @bottom-center {
    content: counter(page, upper-roman);
  }
}
@page:nth(14) {
  @bottom-center {
    content: counter(page, upper-roman);
  }
}

@page:nth(105) {
  @bottom-center {
    content: counter(page, upper-roman);
  }
}
@page:nth(106) {
  @bottom-center {
    content: counter(page, upper-roman);
  }
}
@page:nth(107) {
  @bottom-center {
    content: counter(page, upper-roman);
  }
}
@page:nth(108) {
  @bottom-center {
    content: counter(page, upper-roman);
  }
}
@page:nth(109) {
  @bottom-center {
    content: counter(page, upper-roman);
  }
}
@page:nth(110) {
  @bottom-center {
    content: counter(page, upper-roman);
  }
}
@page:nth(111) {
  @bottom-center {
    content: counter(page, upper-roman);
  }
}
@page:nth(112) {
  @bottom-center {
    content: counter(page, upper-roman);
  }
}
@page:nth(113) {
  @bottom-center {
    content: counter(page, upper-roman);
  }
}

@media screen {
  body {
    background: #fafafa;
    padding-top: 13px;
  }

  .pagedjs_page {
    background: white;
    box-shadow: 10px 12px 30px 0 rgb(0 0 0 / 10%);
    margin: 0 auto 13px;
  }
}

.newPageRight {
  break-before: right;
}

.newPageAfter {
  page-break-after: always;
}

.newPageBefore {
  page-break-before: always;
}

.toDo {
  color: red;
  font-style: italic;
}

/* OlStyle*/
@media print {
  .ol-zoom {
    visibility: hidden;
  }
  a {
    color: black;
    text-decoration: none;
  }
}
@media screen {

  .ol-zoom {
    visibility: visible !important;
  }

  a {
    color: black;
    text-decoration: underline !important;
  }
}

.ol-box {
  background-color: rgba(255, 255, 255, 0.4);
  border: 1.5px solid rgb(179, 197, 219);
  border-radius: 2px;
  box-sizing: border-box;
}

.ol-mouse-position {
  position: absolute;
  right: 8px;
  top: 8px;
}

.ol-scale-line {
  background: rgba(0, 60, 136, 0.3);
  border-radius: 4px;
  bottom: 8px;
  left: 8px;
  padding: 2px;
  position: absolute;
}
.ol-scale-line-inner {
  border: 1px solid #eee;
  border-top: none;
  color: #eee;
  font-size: 10px;
  margin: 1px;
  text-align: center;
  transition: all 0.25s;
  will-change: contents, width;
}
.ol-scale-bar {
  bottom: 8px;
  left: 8px;
  position: absolute;
}
.ol-scale-step-marker {
  background-color: #000000;
  float: right;
  height: 15px;
  width: 1px;
  z-index: 10;
}
.ol-scale-step-text {
  bottom: -5px;
  color: #000000;
  font-size: 12px;
  position: absolute;
  text-shadow: -2px 0 #fff, 0 2px #fff, 2px 0 #fff, 0 -2px #fff;
  z-index: 11;
}
.ol-scale-text {
  bottom: 25px;
  color: #000000;
  font-size: 14px;
  position: absolute;
  text-align: center;
  text-shadow: -2px 0 #fff, 0 2px #fff, 2px 0 #fff, 0 -2px #fff;
}
.ol-scale-singlebar {
  border: 1px solid black;
  box-sizing: border-box;
  height: 10px;
  position: relative;
  z-index: 9;
}

.ol-unsupported {
  display: none;
}
.ol-viewport, .ol-unselectable {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.ol-selectable {
  -webkit-touch-callout: default;
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}
.ol-grabbing {
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
  cursor: grabbing;
}
.ol-grab {
  cursor: move;
  cursor: -webkit-grab;
  cursor: -moz-grab;
  cursor: grab;
}
.ol-control {
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 4px;
  padding: 2px;
  position: absolute;
}
.ol-control:hover {
  background-color: rgba(255, 255, 255, 0.6);
}
.ol-zoom {
  left: 0.5em;
  top: 0.5em;
}
.ol-rotate {
  right: 0.5em;
  top: 0.5em;
  transition: opacity 0.25s linear, visibility 0s linear;
}
.ol-rotate.ol-hidden {
  opacity: 0;
  transition: opacity 0.25s linear, visibility 0s linear 0.25s;
  visibility: hidden;
}
.ol-zoom-extent {
  left: 0.5em;
  top: 4.643em;
}
.ol-full-screen {
  right: 0.5em;
  top: 0.5em;
}

.ol-control button {
  background-color: rgba(0, 60, 136, 0.5);
  border: none;
  border-radius: 2px;
  color: white;
  display: block;
  font-size: inherit;
  font-weight: bold;
  height: 1.375em;
  line-height: 0.4em;
  margin: 1px;
  padding: 0;
  text-align: center;
  text-decoration: none;
  width: 1.375em;
}
.ol-control button::-moz-focus-inner {
  border: none;
  padding: 0;
}
.ol-zoom-extent button {
  line-height: 1.4em;
}
.ol-compass {
  display: block;
  font-size: 1.2em;
  font-weight: normal;
  will-change: transform;
}
.ol-touch .ol-control button {
  font-size: 1.5em;
}
.ol-touch .ol-zoom-extent {
  top: 5.5em;
}
.ol-control button:hover,
.ol-control button:focus {
  background-color: rgba(0, 60, 136, 0.7);
  text-decoration: none;
}
.ol-zoom .ol-zoom-in {
  border-radius: 2px 2px 0 0;
}
.ol-zoom .ol-zoom-out {
  border-radius: 0 0 2px 2px;
}

.ol-attribution {
  align-items: center;
  bottom: 0.5em;
  display: flex;
  flex-flow: row-reverse;
  max-width: calc(100% - 1.3em);
  right: 0.5em;
  text-align: right;
}
.ol-attribution a {
  color: rgba(0, 60, 136, 0.7);
  text-decoration: none;
}
.ol-attribution ul {
  color: #000;
  font-size: 12px;
  margin: 0;
  padding: 1px 0.5em;
  text-shadow: 0 0 2px #fff;
}
.ol-attribution li {
  display: inline;
  list-style: none;
}
.ol-attribution li:not(:last-child)::after {
  content: ' ';
}
.ol-attribution img {
  max-height: 2em;
  max-width: inherit;
  vertical-align: middle;
}
.ol-attribution button {
  flex-shrink: 0;
}
.ol-attribution.ol-collapsed ul {
  display: none;
}
.ol-attribution:not(.ol-collapsed) {
  background: rgba(255, 255, 255, 0.8);
}
.ol-attribution.ol-uncollapsible {
  border-radius: 4px 0 0;
  bottom: 0;
  right: 0;
}
.ol-attribution.ol-uncollapsible img {
  margin-top: -0.2em;
  max-height: 1.6em;
}
.ol-attribution.ol-uncollapsible button {
  display: none;
}

.ol-zoomslider {
  height: 200px;
  left: 0.5em;
  top: 4.5em;
}
.ol-zoomslider button {
  height: 10px;
  position: relative;
}

.ol-touch .ol-zoomslider {
  top: 5.5em;
}

.ol-overviewmap {
  bottom: 0.5em;
  left: 0.5em;
}
.ol-overviewmap.ol-uncollapsible {
  border-radius: 0 4px 0 0;
  bottom: 0;
  left: 0;
}
.ol-overviewmap .ol-overviewmap-map,
.ol-overviewmap button {
  display: block;
}
.ol-overviewmap .ol-overviewmap-map {
  border: 1px solid #7b98bc;
  height: 150px;
  margin: 2px;
  width: 150px;
}
.ol-overviewmap:not(.ol-collapsed) button {
  bottom: 2px;
  left: 2px;
  position: absolute;
}
.ol-overviewmap.ol-collapsed .ol-overviewmap-map,
.ol-overviewmap.ol-uncollapsible button {
  display: none;
}
.ol-overviewmap:not(.ol-collapsed) {
  background: rgba(255, 255, 255, 0.8);
}
.ol-overviewmap-box {
  border: 2px dotted rgba(0, 60, 136, 0.7);
}

.ol-overviewmap .ol-overviewmap-box:hover {
  cursor: move;
}
