<app-headline
    [headline]="'Literaturverzeichnis'"
    [h]="1"
    [number]="'0'"
    [id]="7"
    [type]="'roman'"></app-headline>
<div *ngFor="let quote of quotes" [id]="'quote-'+quote.id">
  <span>{{ quote.author }}</span>
  <ng-container *ngIf="quote.publicationDate">
    ({{ quote.publicationDate }})
  </ng-container> :
  {{ quote.title }}
  <ng-container *ngIf="quote.chapter">
    - Kapitel: {{ quote.chapter }}
  </ng-container>
  <a href="{{ quote.URL }}"
      rel="noopener"
      target="_blank"> {{ quote.URL }}</a>
  <ng-container *ngIf="quote.lastVisit"> , letzter Zugriff {{ quote.lastVisit }}</ng-container>.
</div>
